/*Made by Zoxplers*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

homebutton
{
    display: none;
}

main
{
    text-align: unset;
    align-items: unset;
}

.landscape > *
{
    margin-left: 21vw;
    margin-right: 21vw;
}

.portrait > *
{
    margin-left: 10vw;
    margin-right: 10vw;
}

line
{
    display: block;
}

/*topbar*/
topbar
{
    display: flex;
    margin-bottom: 5vh;
}

#nameContainer
{
    flex-grow: 1;
    font-family: "Bubblegum Sans";
}

#background name
{
    opacity: 0%;
}

name
{
    float: right;
}

topbar img
{
    height: 12vh;
    border-radius: 50%;
    box-shadow: inset 0 0 calc(1vw + 1vh) black;
}
/*topbar End*/

/*heading*/
#background heading
{
    visibility: hidden;
}

#foreground heading span
{
    opacity: 0;
}

#background heading span
{
    visibility: visible;
}
/*heading End*/

/*navbar*/
navbar
{
    font-size: calc(var(--fontSize) * 0.7);
}

navitem:first-child
{
    padding-left: unset;
}

navitem
{
    display: inline-block;
    padding-left: 0.5vw;
}

navitem a span
{
    position: relative;
    top: min(0.3vw, 0.7vh);
    padding-right: 0.1vw;
    font-size: calc(var(--fontSize) * 0.9);
}

navitem::after
{
    display: block;
    content: '';
    border-bottom: solid 2px white;
    transform: scaleX(0);
    transition: transform 120ms ease-in-out;
}

#background navitem.hover::after
{
    transform: scaleX(1.1);
}

#background a
{
    visibility: hidden;
}


#background navItem span
{
    visibility: visible;
}

#foreground navItem span
{
    opacity: 0;
}

/*navbar End*/

/*page*/
page
{
    display: flex;
    flex-grow: 10;
    flex-direction: column;
    text-align: center;
    font-family: "Itim";
}

#background page
{
    opacity: 0;
}
/*page End*/

/*statusBar*/
statusBar
{
    display: flex;
    font-size: calc(var(--fontSize) * 0.75);
    font-family: "Bubblegum Sans";
}

statusBar indicator
{
    display: inline-block;
    content: "";
    height: var(--fontSize);
    width: var(--fontSize);
    background: white;
    border-radius: 50%;
    opacity: 80%;
    margin: auto 0;
}

#foreground statusBar indicator
{
    opacity: 50%;
    animation: glow 3s ease infinite;
    background: var(--statusColor);
}

label
{
    display: inline-flex;
    padding-top: 1px;
    padding-left: 0.25vw;
}

label > *
{
    margin: auto 0;
}

label img
{
    max-height: max(5vh, 3vw);
    border-radius: 0.5vw;
    padding: 0 0.5vw;
}

#background label
{
    opacity: 0;
}
/*statusBar End*/

/*socialsBar*/
socialsBar
{
    display: flex;
    justify-content: right;
    margin: 5vh 0 2vh 0;
}

#background socialsBar
{
    opacity: 0;
}

socials
{
    display: flex;
    gap: 0.3vw;
    justify-content: center;
    align-items: center;
}

socials img
{
    min-height: 32px;
    height: max(2vw,2vh);
    filter: invert(1);
    top: 0;
    transition: top 0.1s;
}

socialitem
{
    display: inline-block;
}

socialitem:hover img
{
    position: relative;
    top: -1vh;
}
/*socialsBar End*/

/*Animations*/
@keyframes glow
{
    0%
    {
        opacity: 50%;
    }
    50%
    {
        opacity: 100%;
    }
    100%
    {
        opacity: 50%;
    }
}