/*Made by Zoxplers*/

/*Fonts*/

/*Pseudo*/
:root
{
    --nako: #b7d3e9;
    --chaeyeon: #a6dcde;
    --chaewon: #cee5d5;
    --yujin: #567ace;
    --minju: #ffffff;
    --sakura: #f1d2e7;
    --hitomi: #f1c3aa;
    --yena: #fcf695;
    --yuri: #f3aa51;
    --hyewon: #db706c;
    --wonyoung: #d9598c;
    --eunbi: #bbb0dc;

    --headingSize: min(96px,10vh);
    --nameSize: 10vw;
    --color1: #adbac4;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    font-family: sans-serif;
    color: var(--color1);
}

/*Tags*/
body
{
    display: block;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: no-repeat linear-gradient(to bottom right, var(--nako), var(--chaeyeon), var(--chaewon), var(--yujin), var(--minju), var(--sakura), var(--hitomi), var(--yena), var(--hyewon), var(--wonyoung), var(--eunbi));
    background-size: 360% 360%;
    animation: background 24s ease-out infinite;
}

mainbg
{
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    background: black;
    position: relative;
    clip-path: polygon(
        evenodd,
        0% 0%,
        22% 0%,
        22% 5%,
        78% 5%,
        78% 95%,
        22% 95%,
        22% 0%,
        100% 0%,
        100% 100%,
        0% 100%
    );
}

main
{
    display: block;
    position: absolute;
    width: 58vw;
    left: 21vw;
    top: 5vh;
    height: 90vh;
    background: black;
    text-align: center;
    mix-blend-mode: multiply;
}

name
{
    float: right;
    margin: 2vh 2vw;
    background: black;
    color: var(--color1);
    pointer-events: auto;
}

logo
{
    margin: 2vh 2vw;
    float: left;
}

logo > img
{
    height: 10vh;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black;
}

/*IDs*/
#foreground
{
    background: none;
    mix-blend-mode: unset;
    pointer-events: none;
}

/*Classes*/
.portrait
{
    width: 98vw;
    left: 1vw;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), black 2%, black 96%, rgba(255, 255, 255, 0) 100%);
    background-size: 100vw 100vh;
}

.landscape
{
    height: 99vh;
    top: 0.5vh;
    background: linear-gradient(rgba(255, 255, 255, 0), black 1%, black 98%, rgba(255, 255, 255, 0) 100%);
    background-size: 100vw 100vh;
}



/*Animations*/
@keyframes background
{
    0%
    {
        background-position: 0% 0%;
    }
    50%
    {
        background-position: 100% 100%;
    }
    100%
    {
        background-position: 0% 0%;
    }
}
