/*Made by Zoxplers*/

:root
{
    --borderRadius: calc((1vw + 1vh) * 0.6);;
}

page
{
    display: flex;
    flex-grow: 10;
    width: 95vw;
}

page > *
{
    display: flex;
    flex-grow: 1;
}

page > * > *
{
    flex-grow: 1;
    border-radius: var(--borderRadius);
    overflow: scroll;
}

#foreground page > * > *
{
    background: rgba(255, 255, 255, 0.1);
}

/* Landscape */
.landscape page
{
    gap: 1vw;
}

.landscape widgets
{
    flex-direction: column;
    gap: 2vh;
}
/* Landscape End */

/* Portrait */
.portrait page
{
    flex-direction: column;
    gap: 1vh;
}

.portrait widgets
{
    gap: 1vw;
}

/* Portrait End */

/* Headers */
header
{
    display: block;
    background: rgba(255, 255, 255, 0.2);
    font-family: "Carter One";
    border-radius: 0;
}

#background header
{
    text-shadow: none;
    color: black;
}
/* Headers End */

/* Calendar */
calendar
{
    flex-grow: 5;
}

calendar > div
{
    display: flex;
    flex-direction: column;
}


calendar table
{
    font-family: "Bubblegum Sans";
    flex-grow: 1;
    margin: var(--borderRadius);
    border: calc(var(--borderRadius) * 0.2) white solid;
    border-collapse: collapse;
    border-radius: 5px;
}

calendar thead
{
    font-size: calc(var(--fontSize)*1.4);
}

calendar thead tr
{
    height: 10vh;
}

calendar .daysofweek
{
    height: 5vh;
    font-size: 0.7em;
}

calendar th
{
    outline: calc(var(--borderRadius) * 0.1) white solid;
}

calendar tbody tr
{
    flex-grow: 1;
}

calendar td
{
    outline: calc(var(--borderRadius) * 0.1) white solid;
    width: calc(100% / 7);
    padding: calc(var(--borderRadius) * 0.3);
    font-size: 0.7em;
}

calendar thead th *
{
    display: inline-block;
    width: 40%;
    cursor: pointer;
}

calendar thead th * > *
{
    position: relative;
    top: 0.5vh;
}


#foreground calendar tbody tr
{
    vertical-align: top;
    text-align: left;
}

#foreground calendar *
{
    outline-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}

#background calendar th
{
    text-shadow: none;
    color: black;
}

#background calendar table
{   
    box-shadow: 0 0 0.05em 0.05em white;
}

#background calendar th
{   
    box-shadow: 0 0 0.05em 0.05em white;
}

#background calendar td
{   
    box-shadow: 0 0 0.05em 0.05em white;
}

/* Calendar End */