/*Made by Zoxplers*/

:root
{
    --borderRadius: calc((1vw + 1vh) * 0.6);
}

main
{
    align-items: center;
    justify-content: center;
}

page
{
    display: flex;
    width: 95vw;
    height: 90vh;
}

page > * > div
{
    border-radius: var(--borderRadius);
}

#foreground page > * > div
{
    background: rgba(255, 255, 255, 0.1);
}

widgets
{
    display: flex;
    flex-grow: 1;
}

widgets > div
{
    flex-grow: 1;
}

/* Headers */
header
{
    display: block;
    background: rgba(255, 255, 255, 0.2);
    font-family: "Carter One";
    border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

#background header
{
    text-shadow: none;
    color: black;
}
/* Headers End */

/* Landscape */
.landscape calendar > div
{
    padding-bottom: 0.1vh;
}

.landscape table
{
    height: calc(85vh - (var(--borderRadius) * 2));
    width: 75vw;
}

.landscape page
{
    gap: 1vw;
}

.landscape widgets
{
    flex-direction: column;
    gap: 2vh;
}
/* Landscape End */

/* Portrait */
.portrait table
{
    height: calc(85vh - (var(--borderRadius) * 2));
    width: calc(95vw - var(--borderRadius) * 2);
}

.portrait page
{
    flex-direction: column;
    gap: 1vh;
    position: relative;
    top: -1vh;
}

.portrait page > *:first-child
{
    padding-top: 2vh;
}

.portrait page > *:last-child
{
    padding-bottom: 2vh;
}

.portrait widgets
{
    gap: 1vw;
}
/* Portrait End */

/* Calendar */
calendar > div
{
    min-height: 90vh;
}

calendar table
{
    font-family: "Bubblegum Sans";
    margin: var(--borderRadius);
    border: calc(var(--borderRadius) * 0.2) white solid;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 5px;
}

calendar thead
{
    font-size: calc(var(--fontSize)*1.4);
}

calendar th
{
    outline: calc(var(--borderRadius) * 0.1) white solid;
    padding: 1vh 0;
}

calendar thead th *
{
    display: inline-block;
    width: 35%;
    cursor: pointer;
}

calendar thead th * > *
{
    position: relative;
    top: 0.5vh;
}

calendar .daysofweek
{
    height: 5vh;
    font-size: 0.7em;
}

calendar td
{
    outline: calc(var(--borderRadius) * 0.1) white solid;
    padding: calc(var(--borderRadius) * 0.3);
    height: calc(83vh / 8);
}

calendar td > div
{
    height: 100%;
}

#foreground calendar tbody tr
{
    vertical-align: top;
    text-align: left;
}

#foreground calendar *
{
    outline-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}

#foreground calendar td
{
    text-shadow: none;
}

#background calendar th
{
    text-shadow: none;
    color: black;
}

#background calendar table
{   
    box-shadow: 0 0 0.05em 0.05em white;
}

#background calendar th
{   
    box-shadow: 0 0 0.05em 0.05em white;
}

#background calendar td
{   
    box-shadow: 0 0 0.05em 0.05em white;
}

#background calendar td > div
{
    align-content: center;
}
/* Calendar End

/* Widgets */
.landscape widgets > div
{
    height: 100%;
}

.portrait widgets > div
{
    min-height: 25vh;
    width: 50%;
}

widgets > div > header
{
    text-shadow: unset;
    font-size: unset;
}

widgets > div > *
{
    align-content: center;
    text-shadow: none;
    font-size: calc(var(--fontSize) * 0.75);
}

#background widgets div > eventinfo
{
    opacity: 0;
}
/* Widgets End */