/*Made by Zoxplers*/

/*Tags*/
main
{
    text-align: center;
}

a
{
    color: white;
    text-decoration: solid underline white 0.225vh;
    text-underline-offset: 0.35vh;
}

a span
{
    color: #00000000;
    text-shadow: none !important;
}