/*Made by Zoxplers*/
#foreground span
{
    visibility: hidden;
}

main *
{
    padding: 1vh 0;
}

main a::after
{
    display: block;
    content: '';
    border-bottom: solid 2px white;
    transform: scaleX(0);
    transition: transform 120ms ease-in-out;
}

#background a:hover::after
{
    transform: scaleX(1.1);
}

#foreground
{
    pointer-events: none;
}

#background text
{
    visibility: hidden;
}