/*Made by Zoxplers*/

main
{
    text-align: center;
}

#background > *
{
    visibility: hidden;
}

heading1
{   
    padding: 1vh 0;
}

.landscape > *
{
    margin: 2vh 25vw;
}

.portrait > *
{
    margin: 2vh 12vw;
}

section
{
    display: block;
    text-align: left;
    position: relative;
    overflow: auto;
    --indicatorColor: rgba(0,0,0,0);
}

section imgcontainer
{
    float: left;
    width: 10%;
    text-align: center;
    margin: 0 1vw;
}

imgcontainer img
{
    object-fit: contain;
    width: 100%;
}


section textcontainer
{
    display: inline-block;
    width: calc(90% - 2.01vw);
    height: 100%;
}

textcontainer > *
{
    display: block;
}

heading2
{
    font-size: calc(var(--fontSize) * 0.85);
    font-family: "Bubblegum Sans"
}

desc
{
    font-size: calc(var(--fontSize) * 0.6);
    font-family: "Gochi Hand";
    padding: 1vh 0;
}

#background indicator::before
{
    content: "";
    height: calc(var(--fontSize) * 0.8);
    width: calc(var(--fontSize) * 0.8);
    border-radius: 50%;
    float: left;
    margin: -0.3vh 0.2vw 0 0;
    background: white;
    opacity: 0.5;
}

#foreground indicator::before
{
    content: "";
    height: calc(var(--fontSize) * 0.8);
    width: calc(var(--fontSize) * 0.8);
    border-radius: 50%;
    float: left;
    margin: -0.3vh 0.2vw 0 0;
    background: var(--indicatorColor);
    opacity: 0.85;
}

indicator
{
    font-size: calc(var(--fontSize) * 0.6);
    font-family: "Gochi Hand";
    padding-bottom: 1vh;
}

links
{
    visibility: visible;
    font-size: calc(var(--fontSize) * 0.57);
    overflow: auto;
}

links item
{
    float: left;
    padding: 0 0.6vw 0 0;
}

item:first-child
{
    margin-left: -0.25vw;
}

links a > span
{
    float: left;
    font-size: calc(var(--fontSize));
    padding: 0 1px 0 0;
    margin-left: 0.2vw;
}

#background links
{
    opacity: 100%;
}

#foreground links
{
    opacity: 0;
}
